<!doctype html><html><head>
  <meta charset="utf-8">
  <title>{% if title %}{{ title }}{% else %}California Privacy Wizard{% endif %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" media="all" href="/static/wizard.css" />
</head><body>

<header>
	<a href="/"><h1>California Privacy Wizard</h1></a>
	{% if user %}<span class="login">@{{user.username}} <a href="/logout">(log out)</a></span>
    		{% else %}<a class="login" href="{{ url_for('login') }}"><img src="static/twitter.svg" alt="">
				<span>Sign in with Twitter</span></a>
			{% endif %}
</header>

<main>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

	{% block app_content %}{% endblock %}
</main>

<footer>
	<a href="/tos">Terms of Service</a> &bull;
    <a href="/privacy">Privacy Policy</a> &bull;
    <a target="_blank" href="https://blog.aloodo.org/">Blog</a> &bull;
	<a target="_blank" href="https://github.com/Aloodo/wizard">Source Code</a>
</footer>

<script src="https://ad.aloodo.com/track.js"></script>
</body></html>

